################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/backend/AppHost/bin/Debug/net10.0
/src/backend/AppHost/obj/Debug/net10.0/EndpointInfo
/src/backend/AppHost/obj/Debug/net10.0
/src/backend/AppHost/obj
/src/backend/Modules/Signup/Signup-Infrastructure/obj
/src/backend/Modules/Signup/Signup-Domain/obj/Debug/net10.0
/src/backend/Modules/Signup/Signup-Domain/obj
/src/backend/Modules/Signup/Signup-Application/obj
/src/webui/WebUI/obj
/src/webui/WebUI/wwwroot/lib/bootstrap/dist
/src/webui/WebUI/wwwroot/sample-data
